.view {
    text-decoration: none;
    padding-left: 42%;
    padding-right: 2%;

}
.hotelImage {
    height: 250px;
    width:250px;
    align-self: flex-start;

}
.map-view{
    display: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}

.img-info {
    margin: 3%;
    width:300px;
    justify-content: space-between;
}
.contentDiv {
    margin: 4%;
    background-color:lightgrey;
    width:500px;
    height: auto;
    display:flex;

}
h3{
    padding-bottom: 4%;
} 
#linkStyle{
    font-weight: bold;
    padding-top: 5px;
}
*{
    text-decoration: none;
    color: black;
}
.content{
    padding:4%;
}
.links{
    display:flex;
    margin:2%;
  }